.Header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 28px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}


@media screen and (min-width: 768px) {
    .Header {
        margin-top: 30px;
    }
}
@media screen and (min-width: 1024px) {
    .Header {
        margin-top: 40px;
    }
}
@media screen and (min-width: 1280px) {
    .Header {
        margin-top: 45px;
    }
}

.Header img {
    display: block;
    width: 103.74px;
    margin-left: 27px;
    margin-bottom: 31.6px;
}
@media screen and (min-width: 768px) {
    .Header img {
        width: 120px;
        margin-left: 20px;
        margin-bottom: 35px;
    }
}
@media screen and (min-width: 1024px) {
    .Header img {
        width: 142px;
        margin-left: 10px;
        margin-bottom: 38px;
    }
}
@media screen and (min-width: 1280px) {
    .Header img {
        margin-left: 0;
        margin-bottom: 41px;
    }
}